<div class="jumbotron">
      <div class="container">
        <h3>Tasks</h3>
        <p></p>

      </div>
</div>
<div class="container">
	<table id="tasks-table" class="table table-striped" data-url="<%= tasks_path(format: :json) %>">
		<thead>
			<tr>
				<th>ID</th>
				<th>Life Cycle</th>
				<th>Task Name</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<hr>

      <footer>
        <p>&copy; 2016 Comcast</p>
      </footer>
    
</div>