<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Roles and Functions</h3>
        <p><ul>
        <li>Organizational hierarchy: ExternalOrganizations, SubOrganizations, Responsibilities</li>
		<li>Task hierarchy: LifeCycleSteps, Tasks</li>
		<li>For a given Portfolio, Estimates tie a given Responsibility and Task to Tonnage and Effort</li>
		<li>For a given Portfolio, Surfaces tie a given Task and Role to an indicator that they are related</li>
		</ul></p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
        <!--<img src="https://wiki.io.comcast.net/download/attachments/457016911/RolesFunctions.png?version=2&modificationDate=1455732242000" />-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <!--<div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div> 
        <div class="col=md-4">
        	<img src="https://wiki.io.comcast.net/download/attachments/457016911/RolesFunctions-Estimates.png?version=2&modificationDate=1455815974000" />
        </div>
        <div class="col=md-4">
        	<img src="https://wiki.io.comcast.net/download/attachments/457016911/RolesFunctions-Surfaces.png?version=2&modificationDate=1455815954000" />
      	</div>-->

      <hr>

      <footer>
        <p>&copy; 2016 Comcast</p>
      </footer>
    </div> <!-- /container -->