<div class="jumbotron">
      <div class="container">
        <h3>Sub Organizations</h3>
        <p></p>
        
      </div>
</div>

<div class="container">
	<table id="sub_organizations-table" class="table table-striped" data-url="<%= sub_organizations_path(format: :json) %>">
		<thead>
			<tr>
				<th>ID</th>
				<th>Ext Org</th>
				<th>Sub Org-1</th>
				<th>Sub Org</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<hr>

      <footer>
        <p>&copy; 2016 Comcast</p>
      </footer>
    
</div>